@import "fonts.scss";

// Bootstrap Sass variables override
$primary: #e78895;
$secondary: #bed1cf;
$body-2-bg: #fff7f1;

$enable-cssgrid: true;

@import "bootstrap/scss/bootstrap.scss";

body {
	font-family: "Poppins", sans-serif;
}

@import "psuedo-tailwind.scss";
@import "custom-bootstrap.scss";
