// Psuedo Tailwind Utility Classes (Tailwind supremacy!!)

.h-fit {
	height: fit-content !important;
}
.w-fit {
	width: fit-content !important;
}

.transition-all {
	transition-property: all !important;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
	transition-duration: 150ms !important;
}
