// Psuedo Tailwind Utility Classes (Tailwind supremacy!!)

/* Sizing */
// Width
.w-fit {
	width: fit-content !important;
}
// Height
.h-fit {
	height: fit-content !important;
}

/* Typography */
// Line Clamp
.line-clamp-1 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
.line-clamp-2 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.line-clamp-3 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}
// Text Decoration
.hover\:underline {
	&:hover {
		text-decoration-line: underline;
	}
}
// Whitespace
.whitespace-pre-line {
	white-space: pre-line !important;
}

/* Effects */
// Box Shadow
.shadow-inner {
	box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

/* Transitions & Animation */
// Transition Property
.transition-all {
	transition-property: all !important;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
	transition-duration: 150ms !important;
}
// Animate
.animate-ping {
	animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite !important;

	@keyframes ping {
		75%,
		100% {
			transform: scale(2);
			opacity: 0;
		}
	}
}
.animate-bounce {
	animation: bounce 1s infinite !important;

	@keyframes bounce {
		0%,
		100% {
			transform: translateY(-25%);
			animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		}
		50% {
			transform: translateY(0);
			animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}
	}
}

/* Transforms */
// Scale
.scale-125 {
	transform: scale(1.25) !important;
}
// Rotate
.rotate-180 {
	transform: rotate(180deg) !important;
}

/* Interactivity */
// Cursor
.cursor-pointer {
	cursor: pointer !important;
}
.cursor-not-allowed {
	cursor: not-allowed !important;
}

/* SVG */
// Fill
.fill-white {
	fill: #fff !important;
}
